<!DOCTYPE html>
<html>
<head><%- include('partials/head') %></head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
        <br>
        <div class="my-image">
            <img src="/image/teacherday.png" alt="Principal Kashaf Ahmed" class="profile-img">
        </div>
        <section class="fade-in-section">
            <h2 style="text-align: center; color: goldenrod;">Welcome to our Community</h2>
            <p style="text-align: center; max-width: 800px; margin: auto; color: goldenrod;">
                Welcome to <strong><%= schoolName %></strong>. Under the leadership of <%= principal %>, we provide a transformative experience.
            </p>
        </section>
    </div>
    <%- include('partials/footer') %>